USE [master]
GO
/****** Object:  Database [UniversityManagementSystem]    Script Date: 9/25/2018 12:24:42 AM ******/
CREATE DATABASE [UniversityManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementSystem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementSystem_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityManagementSystem]
GO
/****** Object:  Table [dbo].[AllocateClassRoom_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AllocateClassRoom_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[DayId] [int] NOT NULL,
	[StartTime] [varchar](50) NOT NULL,
	[EndTime] [varchar](50) NOT NULL,
	[AllocationStatus] [bit] NULL,
 CONSTRAINT [PK_AllocateClassRoom_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Credit] [decimal](6, 2) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_Course_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseAssignToTeacher_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssignToTeacher_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[IsAssign] [bit] NOT NULL,
 CONSTRAINT [PK_CourseAssignToTeacher_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Day_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Day_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designation_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
 CONSTRAINT [PK_Designation_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semester_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Semister_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ContactNo] [nvarchar](50) NOT NULL,
	[RegisterationDate] [date] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Student_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentEnrollInCourse_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEnrollInCourse_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollDate] [nvarchar](50) NOT NULL,
	[IsStudentActive] [bit] NULL,
 CONSTRAINT [PK_StudentEnrollInCourse_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentResult_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResult_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Grade] [nvarchar](10) NOT NULL,
	[IsStudentActive] [bit] NULL,
 CONSTRAINT [PK_StudentResult_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher_tbl]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [decimal](10, 2) NOT NULL,
	[CreditTaken] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Teacher_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[GetStudentResultView]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetStudentResultView]

AS

SELECT en.StudentId, c.Code, c.Name, COALESCE (r.Grade, 'Not Graded yet') AS Grade, r.IsStudentActive
FROM dbo.StudentResult_tbl AS r RIGHT OUTER JOIN (SELECT Id, StudentId, CourseId FROM dbo.StudentEnrollInCourse_tbl AS e WHERE (IsStudentActive = 1)) AS en ON r.CourseId = en.CourseId AND r.StudentId = en.StudentId INNER JOIN
dbo.Course_tbl AS c ON en.CourseId = c.Id

GO
/****** Object:  View [dbo].[ScheduleOfClassView]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ScheduleOfClassView]

AS

SELECT d.Id as DepartmentId,c.Id AS CourseId,c.Code,c.Name,COALESCE(Room_tbl.Name,'Not sheduled yet') AS Room_Name,COALESCE(Day_tbl.Name,'Not sheduled yet') as Day_Name,



case when r.StartTime IS NULL THEN '00:00:00.0000000'

else CONVERT(varchar, r.StartTime) end as StartTime,

case when r.EndTime IS NULL THEN '00:00:00.0000000'

else CONVERT(varchar, r.EndTime) end as EndTime,

COALESCE(AllocationStatus,0) AS AllocationStatus

FROM Course_tbl c  LEFT OUTER JOIN AllocateClassRoom_tbl r

ON r.CourseId=c.Id LEFT OUTER JOIN Room_tbl  

ON r.RoomId=Room_tbl.Id LEFT OUTER JOIN Day_tbl 

ON r.DayId=Day_tbl.Id LEFT OUTER JOIN Department_tbl d ON c.DepartmentId=d.Id 

GO
/****** Object:  View [dbo].[StudentResultView]    Script Date: 9/25/2018 12:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentResultView]

AS

SELECT c.Id, c.Code, c.Name, r.Grade FROM dbo.Course_tbl AS c INNER JOIN (SELECT Id, StudentId, CourseId, Grade FROM dbo.StudentResult_tbl AS r
WHERE (StudentId = 2)) AS r ON c.Id = r.CourseId

GO
SET IDENTITY_INSERT [dbo].[AllocateClassRoom_tbl] ON 

INSERT [dbo].[AllocateClassRoom_tbl] ([Id], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime], [AllocationStatus]) VALUES (1, 1, 1, 7, 2, N'4:05 PM', N'6:05 PM', 1)
INSERT [dbo].[AllocateClassRoom_tbl] ([Id], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime], [AllocationStatus]) VALUES (2, 1, 1, 8, 2, N'4:05 PM', N'6:05 PM', 1)
INSERT [dbo].[AllocateClassRoom_tbl] ([Id], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime], [AllocationStatus]) VALUES (3, 1, 1, 7, 1, N'4:05 PM', N'6:05 PM', 1)
SET IDENTITY_INSERT [dbo].[AllocateClassRoom_tbl] OFF
SET IDENTITY_INSERT [dbo].[Course_tbl] ON 

INSERT [dbo].[Course_tbl] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (1, N'53455', N'C sharp', CAST(3.00 AS Decimal(6, 2)), N'dggdhgfh', 1, 4)
INSERT [dbo].[Course_tbl] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (2, N'5345TTER', N'database', CAST(4.00 AS Decimal(6, 2)), N'dfgesgsd', 3, 2)
INSERT [dbo].[Course_tbl] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (3, N'53455', N'fasdfsdf', CAST(3.00 AS Decimal(6, 2)), N'gfhgf', 3, 4)
SET IDENTITY_INSERT [dbo].[Course_tbl] OFF
SET IDENTITY_INSERT [dbo].[Day_tbl] ON 

INSERT [dbo].[Day_tbl] ([Id], [Name]) VALUES (1, N'Saturday')
INSERT [dbo].[Day_tbl] ([Id], [Name]) VALUES (2, N'Sunday')
INSERT [dbo].[Day_tbl] ([Id], [Name]) VALUES (3, N'Monday')
SET IDENTITY_INSERT [dbo].[Day_tbl] OFF
SET IDENTITY_INSERT [dbo].[Department_tbl] ON 

INSERT [dbo].[Department_tbl] ([Id], [Code], [Name]) VALUES (1, N'101', N'Cste')
INSERT [dbo].[Department_tbl] ([Id], [Code], [Name]) VALUES (2, N'102', N'CSE')
INSERT [dbo].[Department_tbl] ([Id], [Code], [Name]) VALUES (3, N'222', N'ICT')
SET IDENTITY_INSERT [dbo].[Department_tbl] OFF
SET IDENTITY_INSERT [dbo].[Designation_tbl] ON 

INSERT [dbo].[Designation_tbl] ([Id], [Title]) VALUES (1, N'Lecturer')
INSERT [dbo].[Designation_tbl] ([Id], [Title]) VALUES (2, N'NULLAssistent Professor')
INSERT [dbo].[Designation_tbl] ([Id], [Title]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[Designation_tbl] OFF
SET IDENTITY_INSERT [dbo].[Room_tbl] ON 

INSERT [dbo].[Room_tbl] ([Id], [Name]) VALUES (1, N'R1')
INSERT [dbo].[Room_tbl] ([Id], [Name]) VALUES (2, N'R2')
INSERT [dbo].[Room_tbl] ([Id], [Name]) VALUES (3, N'R3')
SET IDENTITY_INSERT [dbo].[Room_tbl] OFF
SET IDENTITY_INSERT [dbo].[Semester_tbl] ON 

INSERT [dbo].[Semester_tbl] ([Id], [Title]) VALUES (1, N'1st')
INSERT [dbo].[Semester_tbl] ([Id], [Title]) VALUES (2, N'2nd')
INSERT [dbo].[Semester_tbl] ([Id], [Title]) VALUES (3, N'3rd')
SET IDENTITY_INSERT [dbo].[Semester_tbl] OFF
SET IDENTITY_INSERT [dbo].[Student_tbl] ON 

INSERT [dbo].[Student_tbl] ([Id], [RegNo], [Name], [Email], [ContactNo], [RegisterationDate], [Address], [DepartmentId]) VALUES (1, N'101-2018-001', N'Ali Ahammad', N'ali@gmail.com', N'435345', CAST(0xC03E0B00 AS Date), N'dsfsdfdsfds', 1)
SET IDENTITY_INSERT [dbo].[Student_tbl] OFF
SET IDENTITY_INSERT [dbo].[StudentEnrollInCourse_tbl] ON 

INSERT [dbo].[StudentEnrollInCourse_tbl] ([Id], [StudentId], [CourseId], [EnrollDate], [IsStudentActive]) VALUES (1, 1, 1, N'9/28/2018', 1)
SET IDENTITY_INSERT [dbo].[StudentEnrollInCourse_tbl] OFF
SET IDENTITY_INSERT [dbo].[StudentResult_tbl] ON 

INSERT [dbo].[StudentResult_tbl] ([Id], [StudentId], [CourseId], [Grade], [IsStudentActive]) VALUES (1, 1, 1, N'A+', 1)
SET IDENTITY_INSERT [dbo].[StudentResult_tbl] OFF
SET IDENTITY_INSERT [dbo].[Teacher_tbl] ON 

INSERT [dbo].[Teacher_tbl] ([Id], [Name], [Address], [Email], [Contact], [DesignationId], [DepartmentId], [CreditToBeTaken], [CreditTaken]) VALUES (1, N'Ali Ahammad', N'dhaka', N'ali@gmail.com', N'45345345345', 1, 1, CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Teacher_tbl] OFF
ALTER TABLE [dbo].[AllocateClassRoom_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AllocateClassRoom_tbl_Course_tbl] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course_tbl] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl] CHECK CONSTRAINT [FK_AllocateClassRoom_tbl_Course_tbl]
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AllocateClassRoom_tbl_Day_tbl] FOREIGN KEY([DayId])
REFERENCES [dbo].[Day_tbl] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl] CHECK CONSTRAINT [FK_AllocateClassRoom_tbl_Day_tbl]
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AllocateClassRoom_tbl_Department_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl] CHECK CONSTRAINT [FK_AllocateClassRoom_tbl_Department_tbl]
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AllocateClassRoom_tbl_Room_tbl] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room_tbl] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassRoom_tbl] CHECK CONSTRAINT [FK_AllocateClassRoom_tbl_Room_tbl]
GO
ALTER TABLE [dbo].[Course_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Course_tbl_Department_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([Id])
GO
ALTER TABLE [dbo].[Course_tbl] CHECK CONSTRAINT [FK_Course_tbl_Department_tbl]
GO
ALTER TABLE [dbo].[Course_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Course_tbl_Semester_tbl] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester_tbl] ([Id])
GO
ALTER TABLE [dbo].[Course_tbl] CHECK CONSTRAINT [FK_Course_tbl_Semester_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_Course_tbl] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course_tbl] ([Id])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_Course_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_CourseAssignToTeacher_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([Id])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_CourseAssignToTeacher_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_Teacher_tbl] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher_tbl] ([Id])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_Teacher_tbl]
GO
ALTER TABLE [dbo].[Student_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Student_tbl_Student_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([Id])
GO
ALTER TABLE [dbo].[Student_tbl] CHECK CONSTRAINT [FK_Student_tbl_Student_tbl]
GO
ALTER TABLE [dbo].[StudentEnrollInCourse_tbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentEnrollInCourse_tbl_Course_tbl] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course_tbl] ([Id])
GO
ALTER TABLE [dbo].[StudentEnrollInCourse_tbl] CHECK CONSTRAINT [FK_StudentEnrollInCourse_tbl_Course_tbl]
GO
ALTER TABLE [dbo].[StudentEnrollInCourse_tbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentEnrollInCourse_tbl_Student_tbl] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student_tbl] ([Id])
GO
ALTER TABLE [dbo].[StudentEnrollInCourse_tbl] CHECK CONSTRAINT [FK_StudentEnrollInCourse_tbl_Student_tbl]
GO
ALTER TABLE [dbo].[StudentResult_tbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult_tbl_Course_tbl] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course_tbl] ([Id])
GO
ALTER TABLE [dbo].[StudentResult_tbl] CHECK CONSTRAINT [FK_StudentResult_tbl_Course_tbl]
GO
ALTER TABLE [dbo].[StudentResult_tbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult_tbl_StudentResult_tbl] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student_tbl] ([Id])
GO
ALTER TABLE [dbo].[StudentResult_tbl] CHECK CONSTRAINT [FK_StudentResult_tbl_StudentResult_tbl]
GO
ALTER TABLE [dbo].[Teacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_tbl_Department_tbl1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([Id])
GO
ALTER TABLE [dbo].[Teacher_tbl] CHECK CONSTRAINT [FK_Teacher_tbl_Department_tbl1]
GO
ALTER TABLE [dbo].[Teacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_tbl_Designation_tbl] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation_tbl] ([Id])
GO
ALTER TABLE [dbo].[Teacher_tbl] CHECK CONSTRAINT [FK_Teacher_tbl_Designation_tbl]
GO
USE [master]
GO
