USE [master]
GO
/****** Object:  Database [UniversityManagementSystem]    Script Date: 9/15/2018 3:16:20 AM ******/
CREATE DATABASE [UniversityManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementSystem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementSystem_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityManagementSystem]
GO
/****** Object:  Table [dbo].[Course_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Credit] [decimal](6, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_Course_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseAssignToTeacher_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssignToTeacher_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[IsAssign] [bit] NOT NULL,
 CONSTRAINT [PK_CourseAssignToTeacher_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Day_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DayName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Day_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designation_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
 CONSTRAINT [PK_Designation_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semester_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Semister_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ContactNo] [nchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Student_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher_tbl]    Script Date: 9/15/2018 3:16:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [decimal](10, 2) NOT NULL,
	[CreditTaken] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Teacher_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Course_tbl] ON 

INSERT [dbo].[Course_tbl] ([ID], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (1, N'53455', N'C sharp', CAST(3.00 AS Decimal(6, 2)), N'dggdhgfh', 1, 4)
INSERT [dbo].[Course_tbl] ([ID], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (2, N'5345TTER', N'database', CAST(4.00 AS Decimal(6, 2)), N'dfgesgsd', 3, 2)
INSERT [dbo].[Course_tbl] ([ID], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (3, N'53455', N'fasdfsdf', CAST(3.00 AS Decimal(6, 2)), N'gfhgf', 3, 4)
SET IDENTITY_INSERT [dbo].[Course_tbl] OFF
SET IDENTITY_INSERT [dbo].[Day_tbl] ON 

INSERT [dbo].[Day_tbl] ([ID], [DayName]) VALUES (1, N'Saturday')
INSERT [dbo].[Day_tbl] ([ID], [DayName]) VALUES (2, N'Sunday')
INSERT [dbo].[Day_tbl] ([ID], [DayName]) VALUES (3, N'Monday')
SET IDENTITY_INSERT [dbo].[Day_tbl] OFF
SET IDENTITY_INSERT [dbo].[Department_tbl] ON 

INSERT [dbo].[Department_tbl] ([ID], [Code], [Name]) VALUES (1, N'101', N'Cste')
INSERT [dbo].[Department_tbl] ([ID], [Code], [Name]) VALUES (2, N'102', N'CSE')
INSERT [dbo].[Department_tbl] ([ID], [Code], [Name]) VALUES (3, N'222', N'ICT')
SET IDENTITY_INSERT [dbo].[Department_tbl] OFF
SET IDENTITY_INSERT [dbo].[Designation_tbl] ON 

INSERT [dbo].[Designation_tbl] ([ID], [Title]) VALUES (1, N'Lecturer')
INSERT [dbo].[Designation_tbl] ([ID], [Title]) VALUES (2, N'NULLAssistent Professor')
INSERT [dbo].[Designation_tbl] ([ID], [Title]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[Designation_tbl] OFF
SET IDENTITY_INSERT [dbo].[Semester_tbl] ON 

INSERT [dbo].[Semester_tbl] ([ID], [Title]) VALUES (1, N'1st')
INSERT [dbo].[Semester_tbl] ([ID], [Title]) VALUES (2, N'2nd')
INSERT [dbo].[Semester_tbl] ([ID], [Title]) VALUES (3, N'3rd')
SET IDENTITY_INSERT [dbo].[Semester_tbl] OFF
SET IDENTITY_INSERT [dbo].[Teacher_tbl] ON 

INSERT [dbo].[Teacher_tbl] ([ID], [Name], [Address], [Email], [Contact], [DesignationId], [DepartmentId], [CreditToBeTaken], [CreditTaken]) VALUES (1, N'Ali Ahammad', N'dhaka', N'ali@gmail.com', N'45345345345', 1, 1, CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Teacher_tbl] OFF
ALTER TABLE [dbo].[Course_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Course_tbl_Department_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([ID])
GO
ALTER TABLE [dbo].[Course_tbl] CHECK CONSTRAINT [FK_Course_tbl_Department_tbl]
GO
ALTER TABLE [dbo].[Course_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Course_tbl_Semester_tbl] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester_tbl] ([ID])
GO
ALTER TABLE [dbo].[Course_tbl] CHECK CONSTRAINT [FK_Course_tbl_Semester_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_Course_tbl] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course_tbl] ([ID])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_Course_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_CourseAssignToTeacher_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([ID])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_CourseAssignToTeacher_tbl]
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssignToTeacher_tbl_Teacher_tbl] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher_tbl] ([ID])
GO
ALTER TABLE [dbo].[CourseAssignToTeacher_tbl] CHECK CONSTRAINT [FK_CourseAssignToTeacher_tbl_Teacher_tbl]
GO
ALTER TABLE [dbo].[Student_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Student_tbl_Student_tbl] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([ID])
GO
ALTER TABLE [dbo].[Student_tbl] CHECK CONSTRAINT [FK_Student_tbl_Student_tbl]
GO
ALTER TABLE [dbo].[Teacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_tbl_Department_tbl1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tbl] ([ID])
GO
ALTER TABLE [dbo].[Teacher_tbl] CHECK CONSTRAINT [FK_Teacher_tbl_Department_tbl1]
GO
ALTER TABLE [dbo].[Teacher_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_tbl_Designation_tbl] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation_tbl] ([ID])
GO
ALTER TABLE [dbo].[Teacher_tbl] CHECK CONSTRAINT [FK_Teacher_tbl_Designation_tbl]
GO
USE [master]
GO
